.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  align-items: center;
  padding: 1rem 1rem;
  /* background-color: aquamarine; */
  /* min-height: 100vh; */
}
