.poem {
  border: 1px solid var(--color_maroon_light);
  padding: 0.5rem 0;
  text-decoration: none;
  color: unset;
  width: 400px;
  text-align: center;
  background-color: rgb(255, 255, 255);
}

.poem_body h3 {
  margin: 4px 0;
  text-transform: capitalize;
  color: var(--color_maroon_light);
}

.poem_body p {
  padding: 0;
  margin: 2px 0;
  white-space: pre;
}
