.container {
  background-color: lightslategray;
  width: 400px;
  /* height: 100vh; */
  margin: 4px auto;
  padding: 1rem;
}

.header {
  text-align: center;
  /* background-color: aquamarine; */
}

.header h3 {
  text-transform: capitalize;
}

.header p {
  text-transform: capitalize;
  font-style: italic;
  text-align: center;
}

.actions {
  /* background-color: antiquewhite; */
  display: flex;
  justify-content: end;
}

.actions .btn {
  margin: 0 4px;
}

.body {
  /* background-color: brown; */
  /* width: 50%; */
  margin: 18px auto;
  text-align: center;
  white-space: pre;
}
