.user_popup {
  width: 200px;
  color: black;
  padding: 12px 0;
  background-color: white;
}

.user_popup ul {
  display: flex;
  width: 100% !important;
  flex-direction: column;
  align-items: stretch;
  list-style-type: none;
  box-sizing: border-box;
}

.user_popup ul li {
  text-align: left;
  padding: 8px 18px;
  margin: 4px 0;
  width: 100%;
  box-sizing: border-box;
}

.logout_btn {
  cursor: pointer;
}

.user_popup ul li:hover {
  background-color: var(--color_beige);
  color: var(--color_maroon_light);
  transition: 0.2s ease-in;
}

.user_info {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 8px;
}

.user_info div p:first-child {
  text-transform: capitalize;
}

.user_info div p:last-child {
  font-size: 12px;
}
