.user_popup {
  position: absolute;
  top: 50px;
  right: 10px;
  width: 200px;
  color: black;
  padding: 12px;
  background-color: white;
}

.user_popup ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  list-style-type: none;
}

.user_popup ul li {
  text-align: left;
  padding: 8px 8px;
  margin: 4px 0;
  width: 100%;
  box-sizing: border-box;
}

.user_popup ul li a {
  text-decoration: none;
  color: unset;
}

.logout_btn {
  cursor: pointer;
}

.user_popup ul li:hover {
  background-color: var(--color_maroon_light);
  color: var(--color_beige);
  transition: 0.5s ease-in;
}

.user_info {
  display: flex;
  align-items: center;
  gap: 4px;
}
.icons {
  color: red;
}
